@font-face {
  src: url(../font/Montserrat-Light.ttf);
  font-family: 'Montserrat-Light';
}

@font-face {
  src: url(../font/Montserrat-Medium.ttf);
  font-family: 'Montserrat-Medium';
}

@font-face {
  src: url(../font/Montserrat-Regular.ttf);
  font-family: 'Montserrat-Regular';
}

@font-face {
  src: url(../font/Montserrat-Bold.ttf);
  font-family: 'Montserrat-Bold';
}
